:root {
  --primary-color: #00BD82;
  --primary-white: #fff;
  --second-white: #B5B3AF;
  
  --primary-bg-color: #1E1E1E;
  --second-bg-color: #EFE7D7;
  --third-bg-color: #E2F471;
  --fourth-bg-color: rgba(0, 0, 0, 0.08);
  --linear-gradient: linear-gradient(142deg, #E6FF4B 0%, #00BD82 100%);

  --height-header: 80px;
}
